{{#if member}} {{#if member.isAdmin}}
{{> header}}
<div class="d-flex w-100">
    {{> admin_sidebar}}
    <div class="main-content" id="admin-layout">
        {{> admin_navbar}}
        {{/if}}
        {{/if}}
        {{> profile_update_password}}
        {{#if member}} {{#if member.isAdmin}}
        {{> footer}}
    </div>
</div>
{{> bottom}}
{{/if}}
{{/if}}