{{> header}}
<div class="d-flex w-100">
    {{> admin_sidebar}}
    <div class="main-content" id="admin-layout">
        {{> admin_navbar}}
        <div>
            <h2 class="px-3 pt-3">Account Management</h2>

            {{#if (hasElements message)}}
            {{#each message}}
            <div class="alert alert-success" role="alert">
                {{this}}
            </div>
            {{/each}}
            {{/if}}
            {{#if (hasElements error)}}
            <div class="alert alert-danger d-flex flex-column" role="alert">
                {{#each error}}

                {{this}}

                {{/each}}</div>
            {{/if}}

            {{#if (isString message)}}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {{/if}}

            {{#if (isString error)}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}

            <div class="d-flex justify-content-end px-4">
                <button type="button" class="btn btn-dark fw-bold" data-toggle="modal"
                    data-target="#createAccountModal">
                    Create account
                </button>
            </div>

            <!-- Create brand Modal -->
            {{> account_create}}

            <!-- List all brands -->
            {{> account_list}}
        </div>
        {{> footer}}
    </div>
</div>

{{> bottom}}