<h1>Login</h1>
<form action="/wristwonders/login" method="POST">
    <label for="membername">Membername:</label>
    <input type="text" id="membername" name="membername" required><br><br>
    <span class="membername-error text-danger"></span>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <span class="password-error text-danger"></span>
    <button type="submit">Login</button>
</form>
<script>
    const form = document.querySelector('form');
    const membernameError = document.querySelector('.membername-error');
    const passwordError = document.querySelector('.password-error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        membernameError.textContent = '';
        passwordError.textContent = '';

        // get values
        const membername = form.membername.value;
        const password = form.password.value;

        try {
            const res = await fetch('/wristwonders/login', {
                method: 'POST',
                body: JSON.stringify({ membername, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);

            if (data.user) {
                location.assign('/');
            }

        }
        catch (err) {
            console.log(err);
        }

    });
</script>