<h1>Register</h1>
<form action="/wristwonders/register" method="POST">
    <label for="membername">Membername:</label>
    <input type="text" id="membername" name="membername" required><br><br>
    <span class="membername-error text-danger"></span>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <span class="password-error text-danger"></span>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <span class="name-error text-danger"></span>

    <label for="YOB">Year of Birth:</label>
    <input type="number" id="YOB" name="YOB"><br><br>
    <span class="yob-error text-danger"></span>

    <button type="submit">Register</button>
</form>

<script>
    const form = document.querySelector('form');
    const membernameError = document.querySelector('.membername-error');
    const passwordError = document.querySelector('.password-error');
    const yobError = document.querySelector('.yob-error');
    const nameError = document.querySelector('.name-error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        membernameError.textContent = '';
        passwordError.textContent = '';
        yobError.textContent = '';
        nameError.textContent = '';

        // get values
        const membername = form.membername.value;
        const password = form.password.value;
        const YOB = form.YOB.value;
        const name = form.name.value;

        try {
            const res = await fetch('/wristwonders/register', {
                method: 'POST',
                body: JSON.stringify({ membername, password, YOB, name }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            console.log(data.member);

            if (data.member) {
                location.assign('/wristwonders');
            }

        }
        catch (err) {
            console.log(err);
        }

    });
</script>