{{> header}}
<div class="d-flex w-100">
    {{> admin_sidebar}}
    <div class="main-content" id="admin-layout">
        {{> admin_navbar}}
        <div>
            <h2 class="px-3 pt-3">Watch Management</h2>

            {{#if message}}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {{/if}}

            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}
            <div class="d-flex justify-content-end px-4">
                <button type="button" class="btn btn-dark fw-bold" data-toggle="modal" data-target="#createWatchModal">
                    Create Watch
                </button>
            </div>

            <!-- List watches -->
            {{> watch_list}}

            <!-- Create Watch Modal -->
            {{> watch_create}}
        </div>
        {{> footer}}
    </div>
</div>

{{> bottom}}