<div class="modal fade" id="createAccountModal" tabindex="-1" aria-labelledby="createAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAccountModalLabel">Create Account</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/wristwonders/accounts" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="membername" class="form-label">Membername</label>
                        <input type="text" class="form-control" id="membername" name="membername" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="isAdmin" class="form-label">Role</label>
                        <select name="isAdmin" id="isAdmin" class="form-select">
                            <option value="true">Admin</option>
                            <option value="false">Member</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="YOB" class="form-label">Year of Birth:</label>
                        <input type="number" class="form-control" id="YOB" name="YOB"><br><br>
                        <p class="text-danger">{{error.YOB}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">Cancel</span>
                    </button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>