<div class="sidebar">
    <nav id="sidebar" class="bg-primary text-white flex-shrink-0 p-3 bg-dark">
        <div class="sidebar-header">
            <a class="navbar-brand text-decoration-none text-light" href="/wristwonders">
                <h2 class="h4">WristWonders</h2>
            </a>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" href="/wristwonders/brands">
                    <i class="fas fa-tag me-2"></i> Brands
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/wristwonders/watches">
                    <i class="fas fa-clock me-2"></i> Watches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/wristwonders/accounts">
                    <i class="fas fa-user me-2"></i> Accounts
                </a>
            </li>
        </ul>
    </nav>
</div>