<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-decoration-none text-light" href="/wristwonders">
            <h3 class="">WristWonders</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light text-decoration-none" aria-current="page"
                        href="/wristwonders">HOME</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <form action="/wristwonders/watches/search" method="get" class="d-flex me-4">
                    <input class="form-control search-input" type="text" name="query" placeholder="Search watch name..."
                        aria-label="Search" required>
                    <button class="btn btn-outline-success btn-search" type="submit">Search</button>
                </form>
                {{#if member}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center text-decoration-none text-light d-flex gap-2"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle d-flex align-items-center"></i>
                        {{member.membername}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {{#if member.isAdmin}}
                        <li><a class="dropdown-item text-decoration-none text-light "
                                href="/wristwonders/admin/profile">Profile</a></li>
                        {{else}}
                        <li><a class="dropdown-item text-decoration-none text-light "
                                href="/wristwonders/members/profile">Profile</a></li>
                        {{/if}}
                        {{#if member.isAdmin}}
                        <li><a class="dropdown-item text-decoration-none text-light "
                                href="/wristwonders/brands">Management</a></li>
                        {{/if}}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-decoration-none text-light "
                                href="/wristwonders/auth/logout">Logout</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none text-light " href="/wristwonders/auth/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>