<div class="modal fade" id="deleteWatchModal-{{watch._id}}" tabindex="-1"
    aria-labelledby="deleteWatchModalLabel-{{watch._id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteWatchModalLabel-{{watch._id}}">Delete Watch</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete watch?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Cancel</span>
                </button>
                <form action="/wristwonders/watches/{{watch._id}}?_method=DELETE" method="POST">
                    <input type="hidden" id="watch_detail" name="watch_detail" value="detail">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>