<h1>Create Brand</h1>
{{#if (isString message)}}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{{/if}}
{{#if (isString error)}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}
<form action="/wristwonders/brands/create-brand" method="POST">
    <label for="brandName">Brand name:</label>
    <input type="text" id="brandName" name="brandName" required><br><br>
    <p class="text-danger">{{error.brandName}}</p>
    <button type="submit">Create</button>
</form>